<div class=" container-fluid footer">
  <div class="container">
    <div class='row g-4 footer__items '>
      <div class='col-12 col-md-6 col-lg-4 col-xl-4 mb-5'>
        <div class='card footer__wripper'>
          <img src="/assets/logo03.png" width="100%" height="auto" class='footer__wripper-logo' alt="tel" />
          <p class='footer__wrapper-discripcion '>Somos una empresa con más de 20 años en el mercado local y regional
          </p>

          <div class='row '>
            <div class='col-3  footer__wrapper-imgs'>
              <img src="/assets/icons/time.png " alt="tel" />
            </div>
            <div class='col-9'>
              <p class='footer__wrapper-subtitles'> Lunes-Viernes de 06:00 a 16:00 Sábado de 06:00 a 13:00 </p>
            </div>
          </div>

          <div class='footer__wripper-items'>
            <a href="/">
              <img src="/assets/networks/facebook.png" class='footer__redes-icons' alt="tel" />
            </a>

            <a href="/">
              <img src="/assets/networks/instagram.png" class='footer__redes-icons' alt="tel" />
            </a>
            <a href="/">
              <img src="/assets/networks/twitter.png" class='footer__redes-icons' alt="tel" />
            </a>
          </div>
        </div>
      </div>


      <div class='col-12 col-md-6 col-lg-4 col-xl-4 mb-5 '>
        <div class='card footer__wripper'>
          <div class=' fw-bold footer__wripper-title'> Contactos</div>

         

          <div class='footer__title-line'></div>
          <div class=' footer__wripper-item '>
            <div class='row '>
              <div class='col-3 footer__wrapper-imgs'>
                <img src="/assets/icons/telephone.png " alt="tel" />
              </div>
              <div class='col-9'>
                <p class='footer__wrapper-subtitles'>958 002 886 - 939 539 472</p>
              </div>
            </div>
          </div>

          <div class='footer__title-line'></div>
          <div class=' footer__wripper-item '>
            <div class='row '>
              <div class='col-3 footer__wrapper-imgs'>
                <img src="/assets/icons/mail.png " alt="tel" />
              </div>
              <div class='col-9'>
                <p class='footer__wrapper-subtitles'>rosmeripeti@gmail.com </p>
              </div>
            </div>
          </div>

          <div class='footer__title-line'></div>
          <div class=' footer__wripper-item '>
            <div class='row '>
              <div class='col-3 footer__wrapper-imgs'>
                <img src="/assets/icons/maps.png " alt="tel" />
              </div>
              <div class='col-9'>
                <p class='footer__wrapper-subtitles'>AV. San Juan S/N Km. 30.5 Panamerica Norte </p>
              </div>
            </div>
          </div>
          <div class='footer__title-line'></div>
        </div>
      </div>




      <div class='col-12 col-md-6 col-lg-4 col-xl-4 mb-5 '>
        <div class='card footer__wripper'>
          <div class=' fw-bold footer__wripper-title'> Mapa de sitio</div>
          <div class='footer__title-line'></div>
          <div class='row  '>
            <div class='col-3 d-flex justify-content-center align-items-center footer__siteweb-img'>
              <img src="/assets/icons/arrow.png " alt="tel" />
            </div>
            <div class='nav col-9 justify-content-start'>
              <a href="/" class="d-flex justify-content-center align-items-center footer__siteweb-img-name">Inicio</a>
            </div>
          </div>
          <div class='footer__title-line'></div>
          <div class='row  '>
            <div class='col-3 d-flex justify-content-center align-items-center footer__siteweb-img'>
              <img src="/assets/icons/arrow.png  " alt="tel" />
            </div>
            <div class='nav col-9 justify-content-start'>
              <a href="/nosotros"
                class="d-flex justify-content-center align-items-center footer__siteweb-img-name">Nosotros</a>
            </div>
          </div>


          <div class='footer__title-line'></div>
          <div class='row  '>
            <div class='col-3 d-flex justify-content-center align-items-center footer__siteweb-img'>
              <img src="/assets/icons/arrow.png  " alt="tel" />
            </div>
            <div class='nav col-9 justify-content-start'>
              <a href="/productos"
                class=" d-flex justify-content-center align-items-center footer__siteweb-img-name">Productos</a>
            </div>
          </div>

         

          <div class='footer__title-line'></div>
          <div class='row  '>
            <div class='col-3 d-flex justify-content-center align-items-center footer__siteweb-img'>
              <img src="/assets/icons/arrow.png  " alt="tel" />
            </div>
            <div class='nav col-9 justify-content-start'>
              <a href="/contactos"
                class=" d-flex justify-content-center align-items-center footer__siteweb-img-name">Contactos</a>
            </div>
          </div>
          <div class='footer__title-line'></div>
        </div>
      </div>
    </div>
  </div>
</div>