<section class="kingkong">
  <div class="container">
  <h3>Techo 10</h3>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid img-hover" src="assets/imagenes/kingkong.png" class="img-fluid" alt="Techo 10">
    </div>
    <div class="col-md-6">
      <p>Este ladrillo tiene la propiedad de flexotracción por su capacidad para resistir fuertes movimientos de
        energía, como los ocasionados por los sismos.</p>
      <p><strong>Denominación del Bien: </strong> King Kong 18 huecos</p>
      <p><strong>Denominación Técnica: </strong>King Kong 50%</p>
      <p><strong>Dimensiones: </strong>9 x12.5 x 23 cm.</p>
      <p><strong>Peso: </strong>2.70 Kg.</p>
      <p><strong>Unid.m2: </strong>36</p>
      <p><strong>Precio: </strong>S/ 3.00</p>
      <button class="btn btn-sm kingkong__button" routerLink="/contactanos">Cotizar</button>
    </div>
  </div>
</div>
</section>