<section class='container-fluid  form'>
  <div class='container  '>
      <div class='card  form__item'>
          <div class='row  form__wrap'>
              <div class='col-12 col-md-6 col-lg-6 mb-5'>
                  <div class='card form__wrapper'>
                      <h4 class='d-flex justify-content-center align-items-center  form__wrapper-title'> Contáctanos</h4>
                      <div class='form__wrapper-line'></div>
                      <div class='row '>
                          <div class='col-3  d-flex justify-content-center align-items-center form__wrapper-img'>
                              <img src="/assets/icons/telephone.png " alt="tel" />  </div>
                          <div class='col-9'>
                              <p class='form__wrapper-subtitles'>958 002 886</p>
                          </div>
                      </div>

                      <div class='form__wrapper-line'></div>
                      <div class=' form__wrapper-item '>
                          <div class='row '>
                              <div class='col-3  d-flex justify-content-center align-items-center  form__wrapper-img'>
                                  <img src="/assets/icons/telephone.png " alt="tel" />
                              </div>
                              <div class='col-9'>
                                  <p class='  form__wrapper-subtitles'>939 539 472 </p>
                              </div>
                          </div>
                      </div>

                      <div class='  form__wrapper-line'></div>
                      <div class='  form__wrapper-item '>
                          <div class='row '>
                              <div class='col-3 d-flex justify-content-center align-items-center form__wrapper-img'>
                                  <img src="/assets/icons/mail.png " alt="tel" />
                              </div>
                              <div class='col-9'>
                                  <p class='form__wrapper-subtitles'>rosmeripeti@gmail.com</p>
                              </div>
                          </div>
                      </div>

                      <div class='  form__wrapper-line'></div>
                      <div class='  form__wrapper-item '>
                          <div class='row '>
                              <div class='col-3 d-flex justify-content-center align-items-center form__wrapper-img'>
                                  <img src="/assets/icons/maps.png " alt="tel" />
                              </div>
                              <div class='col-9'>
                                  <p class='form__wrapper-subtitles'>AV. San Juan S/N Km. 30.5 Panamerica Norte </p>
                              </div>
                          </div>
                      </div>
                      <div class='  form__wrapper-line'></div>
                      <div class='  form__wrapper-item '>
                          <div class='row '>
                              <div class='col-3 d-flex justify-content-center align-items-center form__wrapper-img'>
                                  <img src="/assets/icons/time.png " alt="tel" />
                              </div>
                              <div class='col-9'>
                                  <p class='form__wrapper-subtitles'>Lunes-Viernes de 06:00 a 16:00
                                    Sábado de 06:00 a 13:00</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="col-12 col-md-6 col-lg-6">
                <div class="card p-3 form__table">
                  <h4 class="d-flex justify-content-center align-items-center">Formulario</h4>
                  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Nombre" required ngModel name="nombre">
                      <div *ngIf="contactForm.controls['nombre'].invalid && (contactForm.controls['nombre'].dirty || contactForm.controls['nombre'].touched)" class="text-danger">
                        Nombre es requerido.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Correo</label>
                      <input type="email" class="form-control" id="email" placeholder="Correo" required ngModel name="email">
                      <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)" class="text-danger">
                        Correo es requerido y debe ser válido.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="telefono">Teléfono</label>
                      <input type="tel" class="form-control" id="telefono" placeholder="Teléfono" required ngModel name="telefono">
                      <div *ngIf="contactForm.controls['telefono'].invalid && (contactForm.controls['telefono'].dirty || contactForm.controls['telefono'].touched)" class="text-danger">
                        Teléfono es requerido.
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label for="mensaje">¿Cómo te podemos ayudar?</label>
                      <textarea class="form-control" id="mensaje" rows="3" placeholder="Mensaje" ngModel name="mensaje"></textarea>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg form__button">Enviar</button>
                    </div>
                  </form>
                </div>
              </div>


          </div>
      </div>
  </div>
</section>
