$font-primary: "Ubuntu", sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-tertiary: "Source Code Pro", monospace;



// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxl-4k: 2540px;