<div class=" history">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 ">
        <h2 class="text-center pt-4 pb-2 history__title">Historia</h2>
        <p class="history__text">
          Ladrillos R&Y Chaullani se fundo en junio del 2007 por los hermanos Suaquita Barriento. como producto a la
          innovación en el sector ladrillero de la región de Puno, provincia de San Román Juliaca. Comumente durante
          décadas los ladrillos cerámicos fueron hechos a mano conocidos como ladrillos “ artesanales” pero la visión
          era
          de crear ladrillos de manera mecanizada optimizando y mejorando la calidad de los ladrillos.
          Actualmente se comercializa los ladrillos cerámicos de arcilla cocida que son utilizados en la construcción en
          general. El proceso parte de la planta de producción con una extensión de 3 hectareas siendo una de las 3
          plantas mas grandes localizadas en la ciudad de Juliaca. Con tecnología brasilera y optimizada con el sistema
          Boliviano en cuanto a cocción y quemado.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="assets/resources/brick-wall.png" alt="Imagen" class="history__img">
      </div>
    </div>
  </div>
</div>


<section class="values">
  <div class="container">
    <div class="row g-5 ">
      <div class="col-12 col-lg-4">
        <div class="card shadow values__wrap1">
          <h2 class="values__wrap1-title">Misión</h2>
          <p class="values__wrap1-text">
            Consolidarnos como lideres en el sector ladrillero de la región Puno, produciendo los ladrillos de calidad
            brindando un producto resistente al clima y dureza en su fabricación, otorgando al cliente un producto
            confiable
            y
            seguro en su uso en la construcción. </p>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class="card shadow values__wraptwo">
          <h2 class="values__wraptwo-title">Visión</h2>
          <p class="values__wraptwo-text">
            Hacer de nuestra industria una empresa ladrillera confiable en la que los clientes adquieran un producto
            resistente en la construcción de sus hogares u otros múltiples usos y con la atención rápida y segura. </p>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class="card  shadow values__wrap3">
          <h2 class="values__wrap3-title">Compromiso</h2>
          <p class="values__wrap3-text">
            El compromiso de la planta “ladrillera R&Y Chaullani”, es aportar al desarrollo de nuestra ciudad de Juliaca
            y
            la
            región de PUNO, brindando ladrillos resistentes que son elaborados por nuestras instalaciones y trabajadores
            adecuándonos a la alternancia panorama político social y económico de la ciudad de JULIACA. </p>
        </div>

      </div>
    </div>
  </div>

</section>