<section class="hero">
  <div class="container ">
    <h3 class="hero__title">Construimos tu futuro​</h3>
    <p class="d-block d-lg-none hero__text">Con tecnología brasilera y optimizada con el sistema Boliviano en cuanto a
      cocción y quemado.
    </p>
    <p class="d-none d-lg-block hero__text">Con tecnología brasilera y optimizada <br> con el sistema Boliviano en
      cuanto <br> a cocción y quemado.

  </div>
</section>

<section class="hero__service">
  <div class="container">
    <h3 class="hero__service-title">Te ofrecemos </h3>
    <div class="row g-4">
      <div class="col-12 col-lg-6">
        <div class="card position-relative hero__service-wrap">
          <img class="hero__service-img" src="assets/imagenes/kingkong.png" alt="Ladrillos para Muro"
            [routerLink]="['/productos/ladrillos-para-muro']">
          <h4 class="hero__service-subtitle">Ladrillos para Muro</h4>
          <button [routerLink]="['/productos/']"
            class="btn btn-sm hero__service-button">Ver producto</button>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card position-relative hero__service-wrap">
          <img class=" hero__service-img" src="assets/imagenes/techo10.png" alt="Ladrillos para Techo"
            [routerLink]="['/productos/ladrillos-para-techo']">
            <h4 class="hero__service-subtitle">Ladrillos para Techo</h4>
            <button [routerLink]="['/productos/']" class="btn btn-sm hero__service-button">Ver producto</button>
       
        </div>
      </div>
    </div>
  </div>

</section>

<section>
<div class="container text-center">
  <h2 class="pedidos__title pt-4 pb-2">Selecciona una Sede</h2>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="pedido-item">
        <a (click)="seleccionarSede('caracoto')">
          <img src="assets/ciudades/caracoto.jpg" alt="Opción 1" class="img-fluid">
          <p class="pedido-texto text-center">Caracoto</p>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="pedido-item">
        <a (click)="seleccionarSede('sanmiguel')">
          <img src="assets/ciudades/sanmiguel.jpg" alt="Opción 2" class="img-fluid">
          <p class="pedido-texto text-center">San Miguel</p>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="pedido-item">
        <a (click)="seleccionarSede('juliaca')">
          <img src="assets/ciudades/juliaca.jpg" alt="Opción 3" class="img-fluid">
          <p class="pedido-texto text-center">Juliaca</p>
        </a>
      </div>
    </div>
  </div>
</div>
</section>