.brick {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #fff;

    &__category {
        border-right: 2px solid #726f6f;
        padding-right: 15px;
    }

    &__wrapper {
        border: 3px solid #48484b;
        width: 19rem;
        height: 23rem;
       
        border-radius: 10px;
      
        @include responsive($lg) {
            padding: 20px;
            width: 24rem;
            height: 26rem;
        }

        &-item{
            font-size: 18px;
        }


        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 250px;

            @include responsive($lg) {
                width: 340px;
                height: 270px;
            }
        }

        &-img:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }


        &-title {
            font-size: 20px;

            @include responsive($lg) {
                font-size: 50px;
                padding-top: 20px;
                padding-bottom: 40px;
              
            }
        }

        &-subtitle {
            padding-top: 15px;
            text-align: center;
            padding-bottom: 10px;
        }

        &-button {
            background-color: #ef5e29;
            color: #fff;
           

            @include responsive($lg) {
                padding: 7px;
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;

            }
        }

        &-button:hover {
            background-color: #e16539;
            color: #fff;

        }
    }
}