<section class="pandereta">
  <div class="container">
    <h3>Pandereta</h3>
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid img-hover" src="assets/imagenes/pandereta.png" class="img-fluid" alt="Techo 10">
      </div>
      <div class="col-md-6">
        <p>Tiene la función de hacer muros divisorios, tabiques ligeros (paredes delgada que sirve para separar las
          piezas de la casa). Recuerde que los ladrillos Pandereta no pueden soportar mucho peso.</p>
        <p><strong>Denominación del Bien:</strong>PANDERETA</p>
        <p><strong>Denominación Técnica:</strong>PANDERETA</p>
        <p><strong>Dimensiones:</strong>9.5 x 11 x 23 cm.</p>
        <p><strong>Peso:</strong> 2.1 kg.</p>
        <p><strong>Categoría:</strong> Ladrillos para Muro</p>
        <p><strong>Unid.m2:</strong>36</p>
        <p><strong>Precio: </strong>S/ 4.50</p>
        <button class="btn btn-sm pandereta__button" routerLink="/contactanos">Cotizar</button>
      </div>
    </div>
  </div>
</section>