<section class="techodiez">
  <div class="container">
    <h3> TECHO ALTURA 10 </h3>
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid img-hover" src="assets/imagenes/techo10.png" class="img-fluid" alt="Techo 10">
      </div>
      <div class="col-md-6">
        <p>Teniendo como referencia una vivienda de cuatro pisos, este ladrillo puede ser utilizado para techar el
          segundo o tercer piso. Se utiliza para techados simples de casas que no tengan proyección a construirse hacia
          pisos superiores.</p>
        <p><strong>Denominación del Bien:</strong> TECHO ALTURA 10</p>
        <p><strong>Denominación Técnica:</strong> TECHO ALTURA 10</p>
        <p><strong>Dimensiones:</strong> 10 x 30 x 30 cm.</p>
        <p><strong>Peso:</strong> 6.2 kg.</p>
        <p><strong>Precio: </strong>S/ 5.00</p>
        <p><strong>Categoría:</strong> Ladrillos para Techo</p>
        <button class="btn btn-sm techodiez__button" routerLink="/contactanos">Cotizar</button>
      </div>
    </div>
  </div>
</section>